<% if collection %>
	<div class="search-carousel">
			<% collection.each do |item| %>
					<div class="search-card company-main">
							<% css_class = item[:search_category] == "company" ? "company-image" : "user-picture" %>
							<%= link_to main_app.company_path(item[:id]) do %>
								<%= image_tag item[:image], class: css_class %>
								<h4> <%= item[:name] %> </h4>
							<% end %>
					</div>
			<% end %>
	</div>
<% end %>
