<div class="card feed-card trending-card">

    <% if !current_user.nil? %>

    <div id="filter-home-page">
        <h1 style="margin-bottom: 15px; display:inline-block;">
            Trending &nbsp
        </h1>
        <div style="display: inline-block;" class="fa fa-caret-down">
        </div>
    </div>
    <div id="filter-home-page-card">
        <h3 style="padding-top: 0; margin-top: 0;" class="secondary-title">Filter By Position</h3>
        <div style="margin-bottom: 20px;">
            <h5 id="se" class="tag-button" style="margin-left: 0;">Software Engineering</h5>
            <h5 id="pm" class="tag-button">Product Management</h5>
            <h5 id="pd" class="tag-button">Product Design</h5>
            <h5 id="ds" class="tag-button">Data Science</h5>
        </div>
        <div class="modal-line-divider"></div>
        <h5>By Position</h5>
        <div style="margin-bottom: 15px;">
            <h5 class="tag-button" style="margin-left: 0;">Software Engineering</h5>
            <h5 class="tag-button">Product Management</h5>
            <h5 class="tag-button">Product Design</h5>
            <h5 class="tag-button">Data Science</h5>
        </div>

    </div>
    <div class="line-divider add-your-experience-divider"></div>
		
			<%= link_to main_app.new_post_path, remote: true do %>
				<h2 class="trending-card-input">Add your experience...</h2>
			<% end %>
		
		<!-- <a class="new-post-button" onClick="createNewPost(event)">
		</a> -->
		<div class="line-divider add-your-experience-divider"></div>
		<div>
			<%= render partial: 'shared/postslist', locals: {posts: posts} %>
		</div>
    <% else %>
      <%= render partial: 'shared/not_logged_in' %>
    <% end %>
</div>
