<div class="card hot-companies-card">
    <h1>
        Hot Companies
    </h1>
    <section id="pattern" class="pattern">
        <ul class="grid">
					<% companies.each do |company| %>
						<li>
							<div>
								<%= link_to main_app.company_path(company.id) do %>
									<%= image_tag company.image, class: "hot-companies-icon" %>
								<% end %>
							</div>
						</li>
					<% end %>
				</ul>
		</section>
		<a class="default-link bottom-of-card-link">More</a>
</div>
