<div class="card hot-companies-card">
    <h1>
        Hot Companies
    </h1>
    <!--<div class="row hot-companies-icons-row">
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="facebook.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="google.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="airbnb.png">
        </div>
    </div>
    <div class="row hot-companies-icons-row">
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="microsoft.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="uber.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="twitter.png">
        </div>
    </div>
    <div class="row hot-companies-icons-row">
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="amazon.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="stripe.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="snap.png">
        </div>
    </div>
    <div class="row hot-companies-icons-row">
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="apple.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="linkedin.png">
        </div>
        <div class="col-xs-4">
            <img class="hot-companies-icon" src="palantir.png">
        </div>
    </div>-->
    <section id="pattern" class="pattern">
        <ul class="grid">
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/facebook.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/google.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/airbnb.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/microsoft.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/uber.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/twitter.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/amazon.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/stripe.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/snap.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/apple.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/linkedin.png">
                </div>
            </li>
            <li>
                <div>
                    <img class="hot-companies-icon" src="assets/palantir.png">
                </div>
            </li>
        </ul>
    </section>

    <a class="default-link bottom-of-card-link">More</a>
</div>
