<nav class="navbar navbar-fixed-top official-navbar" role="navigation">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<div class="dropdown-content">
    				<a href="#">EXPERIENCES</a>
    				<a href="#">FORUM</a>
   					<a href="#">SIGN IN</a>
 			   </div>
			</button>

			<ul class="nav navbar-nav">
				<li>
					<%= link_to "Bruin Scope", root_path, class: "b-scope-logo" %>
				</li>
				<li class="big-search-bar inner-addon left-addon">
					<i class="glyphicon" aria-hidden="true">
                        <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <title>magnifying-glass</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" fill-opacity="0.26">
                                <g id="Navbar" transform="translate(-248.000000, -22.000000)" fill-rule="nonzero" fill="#F4F4F4">
                                    <g id="Group-6">
                                        <g id="magnifying-glass" transform="translate(248.000000, 22.000000)">
                                            <g id="Capa_1">
                                                <path d="M13.8789088,13.1307755 L10.475937,9.76831522 C11.388778,8.73135211 11.9414504,7.37839137 11.9414504,5.89964515 C11.9414504,2.64456273 9.2619206,0 5.97072522,0 C2.67642493,0 0,2.64763066 0,5.89964515 C0,9.15165964 2.67952983,11.7992903 5.97072522,11.7992903 C7.46728765,11.7992903 8.83654912,11.2531973 9.88600577,10.3512235 L13.2889776,13.7136837 C13.369705,13.7934501 13.4783766,13.8364013 13.5839432,13.8364013 C13.6895099,13.8364013 13.7981814,13.7965181 13.8789088,13.7136837 C14.0403637,13.554151 14.0403637,13.2903083 13.8789088,13.1307755 Z M0.835218452,5.89964515 C0.835218452,3.10168552 3.13905522,0.828343313 5.96762031,0.828343313 C8.79929031,0.828343313 11.1000222,3.10475346 11.1000222,5.89964515 C11.1000222,8.69453685 8.79929031,10.9740149 5.96762031,10.9740149 C3.13905522,10.9740149 0.835218452,8.69760479 0.835218452,5.89964515 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </i>
					<input class="navbar-input" placeholder="Search for a company, position, or person..." >
				</li>
			</ul>

		</div>
		<div class="navbar-right collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" class="navbar-link active">Experiences</a>
				</li>
				<li>
					<a href="#" class="navbar-link">Forum</a>
				</li>
				<li>
					<% if user_signed_in? %>
                        <a class="profile-img-icon">
                            <svg width="30px" height="30px" viewBox="1339 577 162 163" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


                                <defs></defs>
                                <g id="user" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(1339.000000, 577.000000)">
                                    <g id="Capa_1" fill-rule="nonzero">
                                        <path d="M56.892566,127.008 L32.724,140.191132 C31.3057358,140.964453 30.0311321,141.915057 28.8451698,142.951245 C42.9361132,154.832264 61.1259623,162 81,162 C100.727321,162 118.801019,154.939245 132.852226,143.220226 C131.556226,142.125962 130.150189,141.141736 128.591321,140.365358 L102.711057,127.426755 C99.3671321,125.754792 97.2550189,122.337509 97.2550189,118.599283 L97.2550189,108.445245 C97.9824906,107.616906 98.8138868,106.553208 99.7033585,105.296943 C103.230679,100.314679 105.899094,94.8341887 107.74834,89.084717 C111.067811,88.0607547 113.513094,84.9949811 113.513094,81.3515094 L113.513094,70.5127925 C113.513094,68.1286415 112.452453,65.9981887 110.804943,64.506566 L110.804943,48.8384151 C110.804943,48.8384151 114.023547,24.4558868 81.0030566,24.4558868 C47.982566,24.4558868 51.2011698,48.8384151 51.2011698,48.8384151 L51.2011698,64.506566 C49.5506038,65.9981887 48.4930189,68.1286415 48.4930189,70.5127925 L48.4930189,81.3515094 C48.4930189,84.2063774 49.9938113,86.7189057 52.2404151,88.1707925 C54.948566,99.9601132 62.0398868,108.445245 62.0398868,108.445245 L62.0398868,118.348642 C62.0368302,121.955434 60.0622642,125.277962 56.892566,127.008 Z" id="Shape" fill="#B1B1B1"></path>
                                        <path d="M82.3846415,0.0122264151 C37.6573585,-0.751924528 0.776377358,34.8880755 0.0122264151,79.6153585 C-0.421811321,104.976 10.8815094,127.769094 28.8787925,142.926792 C30.0555849,141.899774 31.3179623,140.95834 32.7209434,140.194189 L56.8895094,127.011057 C60.0592075,125.281019 62.0337736,121.958491 62.0337736,118.345585 L62.0337736,108.442189 C62.0337736,108.442189 54.9393962,99.9570566 52.2343019,88.1677358 C49.9907547,86.7158491 48.4869057,84.2063774 48.4869057,81.3484528 L48.4869057,70.5097358 C48.4869057,68.1255849 49.5475472,65.9951321 51.1950566,64.5035094 L51.1950566,48.8353585 C51.1950566,48.8353585 47.9764528,24.4528302 80.9969434,24.4528302 C114.017434,24.4528302 110.79883,48.8353585 110.79883,48.8353585 L110.79883,64.5035094 C112.449396,65.9951321 113.506981,68.1255849 113.506981,70.5097358 L113.506981,81.3484528 C113.506981,84.9919245 111.061698,88.0576981 107.742226,89.0816604 C105.892981,94.8311321 103.224566,100.311623 99.6972453,105.293887 C98.8077736,106.550151 97.9763774,107.613849 97.2489057,108.442189 L97.2489057,118.596226 C97.2489057,122.334453 99.3610189,125.754792 102.704943,127.423698 L128.585208,140.362302 C130.137962,141.138679 131.540943,142.119849 132.833887,143.211057 C150.287094,128.655509 161.562906,106.892491 161.98166,82.3846415 C162.751925,37.6573585 127.114981,0.776377358 82.3846415,0.0122264151 Z" id="Shape" fill="#F4F4F4"></path>
                                    </g>
                                </g>
                            </svg>
                        </a>
						<!--<%= link_to current_user.first_name , current_user, :id =>"nav-profile-button" %>-->
						<!--<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>-->
					<% else %>
						<%= link_to "Sign in with UCLA", user_google_oauth2_omniauth_authorize_path %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>



</nav>
