<!--- This partial is what is responsible for being shown when you click a post
	card. The flow for this call is
	home.html.erb renders postsgrid which renders a postcard for all the posts from the
	home action of pages_controller. For each postcard there is a link_to to the
	post_path(post.id) that is implicitly tied to the show action in posts_controller.rb.
	This link_to is remote: true which means its an AJAX call which activates the respond_to
	block in the show action. We respond with format.js which will load up the views/posts/show.js.erb
	which then triggers an HTML injection into the showme div inside home.html.erb which then
	render this file
-->
<div class="postmodal newpostmodal postview yhide">
  <div class="overlay" onclick="hideModal('postview')">
  </div>
  <div class="modalcard newpostcard">
  <div class="button-close-container">
    <div class="button-close" onclick="hideModal('postview')">
        <div class="close hairline"></div>
    </div>
    </div>
    <div class="inner">
      <%= render partial: 'posts/form' %>
    </div>
  </div>
</div>
