<% if post %>
  <div class="post">
    <div class="first-experience-line">
      <div style="line-height: 25px;">
          <img class="tiny-company-icon" src="assets/facebook.png"><a class="company-info">Facebook</a> &nbsp·&nbsp
          <a class="secondary-info">Software Engineering Internship</a>
      </div>
      <a class="upvote-btn text-center">
          <i class="fa fa-arrow-circle-o-up"></i>&nbsp <div class="upvote-btn-line"></div> <span class="btn-text">&nbsp+ 10</span>
      </a>
    </div>
    <%= link_to main_app.post_path(post.id), class: "postcard", remote: true do %>
    <h3> <%= post.title %> </h3>
    <% end %>
        <div class="secondary-info">
            Written by Shivam Thapar on Sep 14, 2016 &nbsp·&nbsp ✓Offer &nbsp·&nbsp Difficult Interview
        </div>
		<h4> Interview Experience </h4>
		<p> <%= post.experience %> </p>
		<% unless post.question.nil? %>
			<h4> Interview Questions </h4>
			<p> <%= post.question %> </p>
		<% end %>
		<div class="line-divider"></div>
  </div>
<% end %>
