<% if post %>
  <div class="post">
    <div class="first-experience-line">
      <div>
          <img class="tiny-company-icon" src="facebook.png"><a class="company-info">Facebook</a>  ·
          <a class="position-info">Software Engineering Internship</a>
      </div>
      <a class="upvote-btn text-center">
          <i class="fa fa-arrow-circle-o-up"></i>&nbsp <div class="upvote-btn-line"></div> <span>&nbsp+ 10</span>
      </a>
    </div>
    <%= link_to main_app.post_path(post.id), class: "postcard", remote: true do %>
      <h3> <%= post.title %> </h3>
    <% end %>
    <p> <%= post.body %> </h3>
  </div>
<% end %>
