<!--- Always start by rendering the partials that exist on the page, to nicely componentize
	the page -->
<div class="showme">

<!--- We are passing a variable for the partial to then be able to use throughout its code
	and note that the only reason we are passing the first post by default so then we can
	override the post based on the id from the GET request -->

<!-- by default, in the modal show the new post partial -->
	<%= render template:'posts/new', locals: {post: nil} %>
</div>
<div class="home-cards-container">
    <div class="card-fixed">
			<%= render partial: 'shared/hotcompaniescard', locals: {companies: @companies} %>
    </div>
    <div>
        <%= render partial: 'shared/feedcard', locals: {posts: @posts} %>
    </div>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "typeahead.js/typeahead.bundle.min.js" %>
<% end %>
