<p id="notice"><%= notice %></p>

<h2 style="float: right"> <%= @company.name %> </h2>
<div class="home-cards-container">
    <div class="card-fixed">
      <%= render partial: 'shared/hotcompaniescard', locals: {companies: Company.all} %>
    </div>
    <div>
        <%= render partial: 'shared/feedcard', locals: {posts: @posts} %>
    </div>
</div>
