h2{
     font-size: 16px;
     font-weight: 700;
     margin: 0;
 }
 .no-style {
 	 text-decoration: none !important;
 }
 .line-divider{
     height: 1px;
     background-color: #DCE0E0;
     width: 550px;
 }
 .add-your-experience-divider{
     margin-bottom: 0 !important;
     margin-top: 0 !important;
 }
 .feed-card, .trending-card{
     width: 640px;
     margin: 0 auto;
     background: #FFFFFF;
     margin-top: 100px;
 }
 .trending-card-input{
     line-height: 69px;
     color: #B1B1B1;
 }
 .first-experience-line{
     color: #B1B1B1;
     font-weight: 400;
     display: flex;
     justify-content: space-between;
 }
 .company-info{
     color: #B1B1B1;
     font-weight: 700;
     font-size: 12px;
 }
 .secondary-info{
     color: #B1B1B1;
     font-weight: 400;
     font-size: 12px;
 }
 .secondary-title{
   font-weight: 400;
   font-size: 14px;
   margin-bottom: 20px;
 }
  .big-company-icon{
    width: 50px;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
  }

 .tiny-company-icon{
     width: 25px;
     height: auto;
     margin-right: 10px;
     display: inline-block;
     border-radius: 3px;
 }
 
 .upvote-btn{
     width: 65px;
     height: 25px;
     border-radius: 4px;
     box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
     color: #FF6376;
     font-weight: 700;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
     background-color: white;
 }


 .upvote-btn-clicked{
   background-color: #FF6376 !important;
   color: white !important;
 }

 .upvote-btn:hover{
   box-shadow: 0 3px 9px 0 rgba(0,0,0,0.16);
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   cursor: pointer;
 }

.upvote-btn:active, .upvote-btn:focus {
  color: #FF6376;
}

 .first-experience-line > a:hover{
   text-decoration: none;
   color: #FF6376;
 }

 #upvote-btn-line{
     margin-top: 7.5px;
     margin-bottom: 7.5px;
     height: 10px;
     width: 1px;
     background-color: #DDDDDD;
     display: inline-block;
     vertical-align: top;
 }
 .upvote-btn-line-clicked{
   background-color: white !important;
 }
 .btn-text{
   font-size: 12px;
   line-height: 25px;
 }

 .fa-arrow-circle-o-up{
     line-height: 25px;
     font-size: 14px;
 }

 h3{
   font-size: 20px;
   font-weight: 700;
   color: #53575A;
   margin-top: 16px;
   margin-bottom: 0;
 }
 h3.big{
   font-size: 26px !important;
   line-height: 36px;
   padding-bottom: 2px;
   margin-top: 32px !important;
 }
h4{
  font-size: 14px;
  font-weight: 700;
  color: #53575A;
  margin-bottom: 0;
  padding: 0;
  line-height: 20px;
}
h6{
  font-size: 16px;
  font-weight: 700;
  color: #53575A;
  margin-bottom: 14px;
}
.postcard-big-spacing{
  padding-bottom: 6px;
}
.postcard-small-spacing{
  padding-bottom: 6px;
}
.postcard-tiny-spacing{
  padding-bottom: 2px;
}

.card-element{
  padding-bottom: 45px;
  padding-top: 45px;
  margin-left: -44px;
  margin-right: -44px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  outline:1px solid transparent;
}

.card-element:hover {
  //margin-top: 100px;
  //margin-bottom: 100px;
  background-color: #EFF7F8;
  outline:1px solid #EFF7F8;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1000;
}
.inner-card-element{
  padding-left: 45px;
  padding-right: 45px;
}

.fa-caret-down{
  color: #B1B1B1;
}
#filter-home-page{

}
#filter-home-page:hover{
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#filter-home-page-card{
  position: absolute;
  margin-top: -15px;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  display: none;
  padding:20px;
  border: 1px solid #DCE0E0;
}

.tag-button{
  display:inline-block;
  background-color: #F4F4Fa;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #B1B1B1 !important;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

}
.fourteen{
  font-size: 14px !important;
}
.tag-button:hover{
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #53575A !important;
}

.tag-button:active, .tag-button:focus {
  background-color: #FF6376 !important;
  color: white !important;
}

.tag-button-clicked{
    background-color: #FF6376 !important;
    color: white !important;
}
#se{}

#pm{}

#pd{}

#ds{}

.modal-navbar-container{
  height: 50px;
  background-color: white; 
  margin-top: -8px; 
  margin-right: -8px; 
  margin-left: -8px; 
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; 
  border-bottom: 1px solid #DCE0E0;
}

.modal-navbar{
  float: none; 
  text-align: center; 
  display: inline-block; 
  position: absolute; 
  left: 104px; 
  
}

.modal-navbar-list{
  display: inline-block !important;
  float: none !important;
}

.modal-navbar-a{
  margin-right: 30px !important;
}

.modal-active{
    color: #3691A8 !important;
    border-bottom: 2px solid #3691A8;
    opacity: 1 !important;
}

.modal-inactive{
  color: #B1B1B1 !important;
}
.modal-inactive:hover{
  color: #53575A !important;
}

.questions-view{
  display: none;
}










