@import "vars";
@import "colors";

body.locked {
	overflow: hidden;
}

.postmodal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1500;
	overflow: auto;

	&.yhide{
		display: none;
	}

	.overlay {
		position: fixed;
		z-index: 32;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.5);
	}

	.modalcard {
		box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
		border-radius: 5px;
		position: relative;
		z-index: 64;
		width: 84%;
		max-width: $modal-width * 1.20;
		background: $white;
		margin: 64px auto;
		padding: 8px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		.inner {
			padding: 40px;
			max-width: $modal-width;
			margin: auto;

			.head {
				padding: 16px;
			}

			.content {
				width: 100%;
				overflow: hidden;
				.experience {
					padding: 16px;
				}
			}
		}

		.button-close {
			position: fixed;
			top: 0;
			right: 0;
			padding: 10px;
			-webkit-transform: translate(50%, -50%);
			transform: translate(50%, -50%);
			z-index: 128;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			background: $white;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
			display: flex;
			align-items: center;
			justify-content: center;
			color: $black;
			font-size: 20px;
			cursor: pointer;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
		}
		.button-close:hover {
			box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.3);
		}
		.close {
			position: relative;
			display: inline-block;
			width: 50px;
			height: 50px;
			overflow: hidden;
			opacity: 1;
		}
		.close::before, .close::after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: -1px;
			background: #B1B1B1;
		}
		.close::before {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		.close::after {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		.close.hairline::before, .close.hairline::after {
			height: 1px;
		}
	}
}
