@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased !important;
}
.official-navbar{
	background-color: #53575A;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
	color: white;
	border: none;
}
.navbar-brand, .navbar-nav>li>a{
	text-shadow: none;
}
.navbar-right{
	margin-right: 0;
}
.nav>li>a{
	text-decoration: none;
	color: inherit;
	text-shadow: none;
	padding-left: 54px;
	padding-right: 54px;
}
.b-scope-logo{
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;

}
.nav>li>a.navbar-link{
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 400;
	margin-right: 54px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 13px;
	opacity: .3;
	text-transform: uppercase;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
a.nav-img-parent{
	padding-top: 7.5px !important;
	padding-bottom: 7.5px !important;
	padding-left: 0 !important;
}
.nav-img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
}
.navbar-input{
	line-height: 50px;
	border: 0;
	padding: 0;
	background-color: #53575A;
	font-weight: 400;
	font-size: 14px;
	border-left: 1px solid rgba(255,255,255,0.14);
	width: 400px;
}
.big-search-bar > ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
	opacity: .3;
}
.big-search-bar > ::-moz-placeholder { /* Firefox 19+ */
	color: white;
	opacity: .3;
}
.big-search-bar > :-ms-input-placeholder { /* IE 10+ */
	color: white;
	opacity: .3;
}
.big-search-bar > :-moz-placeholder { /* Firefox 18- */
	color: white;
	opacity: .3;
}
.active{
	border-bottom: 2px solid white;
	opacity: 1 !important;
}
.inner-addon {
	position: relative;
}

.inner-addon .glyphicon {
	position: absolute;
	line-height: 48px;
	pointer-events: none;
	padding-left: 20px;
	padding-bottom: 2px;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 50px; }

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.icon-bar{
	background-color: white;
	height: 1px !important;
}
@media (max-width: 967px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav>li {
		float: none;
	}
	.collapse.in{
		display:block !important;
	}
	.navbar-nav{
		margin: 0 !important;
	}
}