// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-account-links{
  float:right;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
   font-family: "Open Sans", Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased !important;
   color: #53575A;
}
a{
  color:#3691A8;
}
a:hover{
  cursor: pointer;
  color:#3691A8;
}
a.underline:hover{
  text-decoration: underline !important;
}
.no-style {
	text-decoration: none !important;
}
.card{
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
    padding-left: 45px;
    padding-right: 45px;
    background-color: white;
}
h1{
   font-size: 16px;
   color: #53575A;
   padding-top: 45px;
   padding-bottom: 10px;
   margin: 0;
}
h2{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.alert {
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 1500;
}
.alert.hidden {
  display: none;
}

a{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.a-text:hover{
  color: #3691A8 !important;
}

span.twitter-typeahead{
  width: 0px;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    color: black;
}

.tt-suggestion:hover {
  background: #53575A;
  color: white;
}

.tt-cursor {
  background: #53575A;
  color: white;
}

.tt-dataset-header {
  margin-left: 10px;
}

.tt-suggestion-img {
  width: 25px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
