// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-account-links{
  float:right;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
   font-family: "Open Sans", Helvetica, sans-serif;
   -webkit-font-smoothing: antialiased !important;
}
.no-style {
	text-decoration: none !important;
}
.card{
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
    padding-left: 45px;
    padding-right: 45px;
    background-color: white;
}
h1{
   font-size: 16px;
   color: #53575A;
   padding-top: 45px;
   padding-bottom: 10px;
   margin: 0;
}
h2{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.alert {
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 1500;
}
.alert.hidden {
  display: none;
}

a{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.a-text:hover{
  color: #3691A8 !important;
}


