// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.postcard {
	text-decoration: none !important;
	text-align: center;
	margin: 10px 10px 10px 10px;
	height: 100px;
	width: 100px;
	background-color: $color-secondary;
}
