// Grid
$grid-width           : 1200px !default;

$grid-sm-breakpoint: 1200px;
$grid-md-breakpoint: 1600px;
$grid-lg-breakpoint: 1800px;

$grid-gutter-padding  : 0px !default;
$grid-vertical-padding: 0px !default;

// Navbar
$nav-height: 55px !default;

// Button //
$button-padding  : 8px !default;
$button-padding-h: $button-padding * 2 !default;
$button-min-width: 48px !default;

// Modal
$shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
$modal-width: 640px;
